.no-results-outer-modal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f0ec
}

.no-results-inner-modal{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap
}

