
.filter-modal-body {
    position: fixed;
    top: 30vh;
    left: 0;
    height: 70vh;
    width: 100vw;
    background-color: white;
    border: 1px solid salmon;
    box-sizing: border-box;
    overflow-y: scroll;
    transform-origin: 0 0;
    transform: translate(0%, -45%);
    transition: transform .2s ease-in;

    /* position: fixed;
    left: 50%;
    top: 50%;
    min-width: 90%;
    min-height: 90%;
    background-color: white;
    transform: translate(-50%, -50%) */
}

li {
    list-style-type: none;
}

.drop-menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
}

.drop-menu-style{
    border: 1px black solid;
}

.close-filter-modal {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 1.5em;
    transform: translateY(100%)
}

.input-checkbox {
    margin-top: 0;
}

.apply-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.apply-btn {
    background-color: lavender;
}
