.landing-page {
	background-image: url("../../assets/images/landing-page-design.PNG");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* 3.2 em or whatever height of the navbar */
	height: calc(100vh - 3.2em);
}

@media  (min-aspect-ratio: 470/710) {
	.landing-page {
		background-image: none;
		/* background-color: aqua; */
	}
}

/* color wheel */
/* https://color.adobe.com/create/color-wheel/?base=2&rule=Triad&selected=0&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.13725490196078433,0.8,0.11764705882352941,0.24341692789923852,0.09999999999999998,1,0.02873563218417985,1,0,0.8,0.38635057471232354,0.07999999999999999,0.7,0.31794879469957665,0.03500000000000003&swatchOrder=0,1,2,3,4 */

.landing-page {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}
.landing-page h1{
	text-transform: lowercase;
}

.landing-page form {
	display: flex;
	margin-bottom: 8%;
	width: 80%;
	justify-content: space-between;
	box-sizing: border-box;
	font-size: .9em;
}

.landing-page-input {
	font-size: 1.3em;
	background-color: white;
	color: black;
	padding: .5em;
	font-weight: 300;
	display: flex;
	align-items: flex-end;
	text-align: center;
	font-family: filson;
}

.landing-page-input::placeholder {
	color: rgb(109, 109, 109);
	text-transform: lowercase;
	text-align: center;
	font-family: filson;
}

.landing-page .brand {
	text-align: center;
	margin: 0;
	font-size: 2.5em;
}

btn{
	text-transform: lowercase;
}

.landing-button{
	
}