.team-page-container {
    background-color: #f1f0ec;
    padding: 3em 1em;
}

.team {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-evenly;
}

.team-title{
    text-align: center;
    text-transform: lowercase;
    color: #70837f;
}

.member {
    flex: 1 1 40%;
    padding: .4em;
    text-transform: lowercase;
}

.member>img {
    width: 90%;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 1px #b0b0b0);
}



.member>p img {
    width: 2em;
    padding: .3em;
}

.member h2, h3, p{
    margin: .3em;
    color: #70837f;
}