.about-page {
    margin-top: 3.2em;
    background-color: #f1f0ec;
    height: calc(100vh - 3.2em);
    color: #70837f
}


.img-wrapper img {
    width: 100%;
}

.about-content {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    padding: 1em;
}

.about-content p{
    text-align: center;
}

.about-content h3{
    padding: 1.2em;
}

.tech-icons {
    display: flex;
    justify-content: center;
}


.tech-icons img  {
    width: 33%;
}
