.container {
    height: 100%;
    width: 100%;
    top: 55%;
}

.thumbnail {
    height: 35%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(https://cdn-files.apstatic.com/climb/107655293_medium_1494202770.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    color: white;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title,
.subtitle,
.stars {
    margin: 0;
    font-weight: lighter;
}

.title {
    font-size: 3em;
    text-align: center;
}

.subtitle {
    font-size: 1em;
}

.details {
    padding: .4em .8em;
}

.brand {
    text-transform: uppercase;
    font-size: 100%;
}

.bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-weight: 300;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 1em;
    padding: 1em;
}

.bar div p {
    margin: 0;
    text-align: center;
}

.bar div p:first-child {
    font-size: 2em;
}

.bar:last-of-type {
    justify-content: center;
}

.bar:last-of-type div p:first-child {
    font-size: 1em;
    font-weight: bold;
}

img {
    width: 49%;
    margin-top: 1em;
    display: inline-block;
}

section.btn-group {
    display: flex;
    justify-content: center;
}

button {
    margin-top: .5em;
    width: 100%;
    background-color: rgb(35, 204, 30);
    color: white;
    font-size: 1.5em;
    font-weight: lighter;
    padding: .5em;
    border: none;
    text-transform: uppercase;
}