body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: "Quicksand", sans-serif;
	padding: 0;
	
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.container {
	height: calc(100% - 3.5em);
}

.colors {
	color: #78A9D1;
	color: #DFF1FF;
	color: #9BA8B2;
	color: #A79D8D;
	color: #FFEBCC;
}

.input {
	font-size: 1.3em;
	width: 80%;
	background-color: white;
	color: black;
	padding: 0.5em;
	font-weight: 300;
}

.btn {
	box-sizing: border-box;
	padding: 0.5em 1em;
	font-size: 1.5em;
	outline: none;
	border: none;
}

.btn.is-primary {
	background-color: #78A9D1;
	color: white;
}

.btn.is-secondary {
	background-color:#9BA8B2;
	color: white;
	text-align: center;
}

.btn-group {
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
}

.btn-group .btn {
	margin-bottom: 0.5em;
}

.btn.is-fullwidth {
	width: 100%;
}

/* .is-uppercase {
	text-transform: uppercase;
} */

/* .is-capitalize {
	text-transform: capitalize;
} */

.navbar.is-primary {
	background-color: #78A9D1;
}

.is-text-white {
	color: #e8ffe5;
}

.is-text-lighter {
	font-weight: lighter;
}

/* Photo by Christoph Deinet on Unsplash
Photo by Daniel Leone on Unsplash */
