body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: "filson";
	padding: 0;
}

@font-face {
	font-family: filson;
	src: url(../assets/fonts/Filson-Soft-Light-Webfont/Webfonts/filsonsoft_light_macroman/filsonsoft-light-webfont.woff);
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.container {
	height: calc(100% - 3.5em);
}

.colors {
	color: #f1f0ec;
	color: #e0e7e0;
	color: #b0b0b0;
	color: #96a2a0;
	color: #8a908c;
	color: #70837f;
}
input:focus {
	outline: none;
}

.input {
	font-size: 1.3em;
	width: 80%;
	background-color: white;
	color: black;
	padding: 0.5em;
	font-weight: 300;
}

.btn {
	box-sizing: border-box;
	padding: 0.5em 1em;
	font-size: 1.5em;
	outline: none;
	border: none;
	font-family: filson;
}

.btn.is-small {
	font-size: 1.2em;
}

.btn.is-very-small {
	font-size: 1em;
}

.btn.is-primary {
	color: black;
}

.btn.is-secondary {
	background-color: #e0e7e0;
	color: #70837f;
	text-align: center;
}

.btn-group {
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
}

.btn-group.is-horizontal {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
}

.btn.is-fullwidth {
	width: 100%;
}

/* .is-uppercase {
	text-transform: uppercase;
} */

/* .is-capitalize {
	text-transform: capitalize;
} */

.navbar.is-primary {
	background-color: #f2f0ec;
}

.is-text-white {
	color: #e8ffe5;
}

.is-text-darker {
	color: #70837e;
}

.is-text-lighter {
	font-weight: lighter;
}

/* Photo by Christoph Deinet on Unsplash
Photo by Daniel Leone on Unsplash */

.text-center {
	text-align: center;
}
