.itinerary-title h1 {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-weight: lighter;
	color: black;
}

.cards {
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;

	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.card {
	height: 17em;
	width: 100%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 1em;
}

.card.expand {
	height: auto;
}

.card-content h1,
.card-content h2,
.card-content p {
	text-align: left;
	margin: 0;
}

.card-content h1 {
	font-size: 2em;
}

.card-content h2 {
	font-size: 1.2em;
}

.card-content p {
	font-size: 1em;
}

.card-image {
	height: 10em;
	background-position: center;
	background-size: cover;
}

.card-content {
	padding: 0.8em;
	display: flex;
	align-items: center;
}
.card-content-left {
	flex: 1 1 90%;
	text-overflow: clip;
	white-space: nowrap;
	overflow: hidden;
}

.card.expand .card-content-left {
    text-overflow: initial;
	white-space: initial;
	overflow: initial;
}


.card-content-right {
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-content-right i {
	font-size: 1.9em;
}
.card .card-details {
	display: none;
}

.card.expand .card-details {
	display: block;
	padding: 0.5em;
	border-top: 1px solid rgba(102, 99, 99, 0.192);
}

.card .card-content-right .material-icons:first-of-type {
	display: block;
}
.card .card-content-right .material-icons:last-of-type {
	display: none;
}

.card.expand .card-content-right .material-icons:first-of-type {
	display: none;
}
.card.expand .card-content-right .material-icons:last-of-type {
	display: block;
}
