.navbar {
	height: 3.2em;
	width: 100%;


	display: flex;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;
	padding: 0 0.9em;
	z-index: 15;
}

.navbar ul {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: white;
	box-sizing: border-box;
	list-style-type: none;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;

	background-color: #B9C7D4;
	border-radius: 50%;

	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
		border-radius 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
	z-index: 10;
}

.navbar ul.show {
	transform: none;
	border-radius: 0;
}

.navbar ul li {
	margin: 0.5em auto;
	width: 100%;
	text-align: center;
}

.navbar ul li:hover {
	background-color: rgb(162, 166, 170);
}

.navbar ul li a {
	color: black;
	text-decoration: none;
	font-size: 2em;
	text-transform: lowercase;
	font-weight: lighter;
}

.navbar .burger-menu,
.navbar .brand {
	z-index: 11;
}

.navbar .brand {
	font-size: 1.8em;
	padding: 0.4em;
	font-style: italic;
	border-radius: 100%;
	width: 1.5em;
	height: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar .burger-menu {
	height: 1em;
	width: 2em;
	box-sizing: border-box;
	position: relative;
}

.navbar .burger-menu span {
	width: 100%;
	height: 2px;
	background-color: currentColor;
	display: block;
	position: absolute;

	transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar .burger-menu span:nth-child(1) {
	top: 0;
}

.navbar .burger-menu span:nth-child(2) {
	top: 50%;
}

.navbar .burger-menu span:nth-child(3) {
	top: 100%;
}

/* .navbar .burger-menu.close span {
	background-color: black;
} */

.navbar .burger-menu.close span:nth-child(1) {
	transform: rotateZ(45deg);
	top: 50%;
}

.navbar .burger-menu.close span:nth-child(2) {
	transform: scale(0);
}

.navbar .burger-menu.close span:nth-child(3) {
	transform: rotateZ(-45deg);
	top: 50%;
}
